.container {
  position: relative;
  min-height: 100vh;
}

.background {
  width: 100vw;
  height: 100vh;
  mix-blend-mode: overlay;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.branuelImage {
  position: absolute;
  bottom: 0;
  left: 40px;
  z-index: -1;
}

.argFlag {
  position: absolute;
  top: -100px;
  left: -190px;
  mix-blend-mode: screen;
  opacity: 0.2;
  z-index: -1;
  transform: rotate(-45deg);
}

.flares {
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: color-dodge;
  z-index: -1;
}

.container h1 {
  text-align: center;
  font-size: 64px;
  padding: 40px 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.gcBadge {
  background-image: url("/images/icons/ranked-21.svg");
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.card {
  width: 50%;
  max-width: 400px;
  background: var(--background);
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.social {
  display: flex;
  align-items: center;
  gap: 7px;
}

.giveaways {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-height: 600px;
  overflow-y: scroll;
}

.giveaways > div:first-child {
  font-size: 24px;
  font-weight: bold;
}

.giveaways .winner {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  padding-bottom: 10px;
}

.giveaways .winner img {
  justify-self: center;
}

.giveaways .winnerInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sponsors {
  position: absolute;
  right: 0;
  bottom: 0;
  display: grid;
  padding-bottom: 10px;
  padding-right: 10px;
  gap: 10px;
  grid-template-columns: 320px 180px;
  justify-content: flex-end;
  align-items: flex-end;
  grid-template-areas:
    "- csgofast"
    "fastskins hellcase";
}

.hellcase {
  grid-area: hellcase;
}

.csgofast {
  grid-area: csgofast;
}

.fastskins {
  grid-area: fastskins;
}

@media screen and (max-width: 768px) {
  .branuelImage {
    display: none;
  }
}
